<app-toolbar></app-toolbar>

<mat-tab-group>

  <mat-tab label="Translate">
    <mat-form-field>
      <mat-select placeholder="Source language" [(ngModel)]="sourceLanguageId" (ngModelChange)='checkBilingualDictionaryAvailability($event, targetLanguageId)'>
        <mat-option *ngFor="let lng of availableSourceLanguages | async" [value]="lng">
          {{ lng }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Target language" [(ngModel)]="targetLanguageId" (ngModelChange)='checkBilingualDictionaryAvailability(sourceLanguageId, $event)'>
        <mat-option *ngFor="let lng of availableTargetLanguages | async " [value]="lng">
          {{ lng }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>source language: {{ sourceLanguageId }}</p>
    <p>target language: {{ targetLanguageId }}</p>
    <p>available: {{ bilingualDictionaryAvailable }}</p>
  </mat-tab>

  <mat-tab label="Lookup">

  </mat-tab>

</mat-tab-group>